.createentry-btn {
   background-color: #D9A0CE;
   color: black;
   border: none;
   border-radius: 10px;
   padding: 12px 45px;
   letter-spacing: 1px;
   text-transform: uppercase;
   transition: transform 80ms ease-in;
}

.createentry-btn:hover {
   background-color: black;
   color: white;
   cursor: pointer;
}

.dashboard-container {
   padding: 20px;
}

.dashboard-header {
   display: flex;
   gap: 16px;
   justify-content: space-evenly;
   margin-bottom: 24px;
}

.entries-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
   gap: 24px;
}

.entry-card {
   background: white;
   padding: 16px;
   border-radius: 10px;
   box-shadow: 10px 10px black;
}

.edit-btns {
   display: flex;
   justify-content: space-evenly;
}

.editentry-btn:hover, .deleteentry-btn:hover {
   cursor: pointer;
}