.deletemodal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
}

.deletemodal-top {
   display: flex;
   justify-content: space-between;
}

.deletemodal-container {
   background-color: white;
   border: 2px solid #000000;
   border-radius: 10px;
   padding: 16px;
   gap: 10px;
   width: 50%;
   display: flex;
   flex-direction: column;
}

.deletemodal-exit-btn, .yes-btn, .no-btn {
   background-color: #D9A0CE;
   color: black;
   border: none;
   border-radius: 50px;
   padding: 12px 45px;
   letter-spacing: 1px;
   text-transform: uppercase;
   align-self: center;
   cursor: pointer;
}  

.deletemodal-exit-btn:hover, .yes-btn:hover, .no-btn:hover {
   background-color: black;
   color: white;
   cursor: pointer;
}

.confirm-btns {
   display: flex;
   justify-content: center;
   gap: 10px;
}