#journal-title {
  font-size: 32px;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: normal;
}

#nav {
  background-color: #000000;
  color: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  padding: 8px;
}

#nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 16px;
}

#nav li a, #nav li button {
  display: block;
  color: #FFFFFF;
  font-size: 24px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}

#nav li a::after, #nav li button::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #FFFFFF;
  transition: width 0.3s ease, background-color 0.3s ease;
}

#nav li a:hover::after, #nav li button:hover::after {
  width: 100%;
  left: 0;
}

#nav li button {
  background: transparent;
  border: none;
  color: #FFFFFF;
  font-size: 32px;
}

#welcome {
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#link {
  color: #000000;
}

#link:hover {
  cursor: pointer;
  color: #FFFFFF;
}